
  <!-- <div class="modal-body">
    <p> Hello</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div> -->







<!-- <div class="modal-header">
    <h4 class="modal-title">Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
</button>
<div class="modal-body">
    <div class="">
        <div class="login-box" id="card" style="text-align: center;" *ngIf="successMsg==''">
            <div class="text-danger-div">
                <h3>Forgot Password</h3>
            </div>
            <form #forgotPasswordForm="ngForm" (ngSubmit)="resetPassword()">
                <div class="form-group">
                    <input type="text" #username="ngModel" class="form-control input-field" id="username" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required [(ngModel)]= "userModel.username" placeholder="Username/Email Address*" name="username" autocomplete="off">

                    <div *ngIf="(username.invalid && (username.dirty || username.touched)) || validationErr">
                        <small class="text-danger" *ngIf="username.errors?.['required']"> Username is required </small>
                        <small class="text-danger" *ngIf="username.errors?.['pattern']"> Invalid username </small>
                        <small class="text-danger" *ngIf="validationErr"> {{validationErr}} </small>
                    </div>
                
                </div>
                
                <button type="submit" class="btn btn-success btn-block" [disabled]="forgotPasswordForm.form.invalid">Submit</button>
                <!-- <button mat-raised-button color="primary" style="margin-right:5px;">login</button> -->
                <!-- <button mat-raised-button color="primary" style="margin-right:5px;">register</button> -->
        
            </form>
        </div>
        <div class="login-box" id="card" style="text-align: center;" *ngIf="successMsg!=''">
            <small class="text-success"> {{successMsg}} </small>
        </div>
    </div>
</div>


<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div> -->