.h4, .h5, .h6, h4, h5, h6 {
    font-weight: 600 !important;
}

.h6, h6{
    font-size: 1rem;
    line-height: 1.625;
}

.search-results-container{
    margin: 40px;
    height: 350px;
    width: auto;
    overflow: auto;
}