
<div class="page-inner" style="top: 60px;">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-md-4 center">
          <a href="https://crmrunner.com/" class="logo-name text-lg text-center">
            <!-- <img width="200" src="assets/images/logo.png" alt=""> -->
            <!-- <img src="assets/images/loginLogo.jpg"  alt=""/> -->
            <img src="https://crm.crmrunner.com/public/assets/images/logo.png" alt="">
        </a>
        <h3>Reset your password.</h3>
          <div class="">
            <div class="login-box" id="card" style="text-align: center;" *ngIf="serverSuccessMsg==''">
            <div class="text-danger-div">
              <span *ngIf="validationErr" class="text-danger">{{
                validationErr
              }}</span>
            </div>
            <app-loader *ngIf="loading$ | async"></app-loader>
            <form #changePasswordForm="ngForm" (ngSubmit)="resetPassword()">                
                <div class="form-group">
                  <input type="password" class="form-control input-field" name="password" #password="ngModel" required placeholder="Password*" [(ngModel)]="userModel.password">
  
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <small class="text-danger" *ngIf="password.errors?.['required']"> Password is required </small>
                  </div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control input-field" name="confPassword" #confPassword="ngModel" required placeholder="Confirm Password*" [(ngModel)]="userModel.confPassword" (keyup) = "matchPassword()">
    
                    <div *ngIf="(confPassword.invalid && (confPassword.dirty || confPassword.touched)) || serverErrorMsg">
                      <small class="text-danger" *ngIf="confPassword.errors?.['required']"> Confirm Password is required </small>
                      <small class="text-danger" *ngIf="serverErrorMsg != ''"> {{serverErrorMsg}} </small>
                    </div>
                  </div>
                  
                <button type="submit" class="btn btn-success btn-block" [disabled]="changePasswordForm.form.invalid || inactiveButton">Submit</button>
            </form>
            </div>

            <div class="login-box" id="card" style="text-align: center;" *ngIf="serverSuccessMsg!=''">
              <div class="text-success-div">
                <span class="text-success">{{
                  serverSuccessMsg
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>